<a href="https://colab.research.google.com/github/SpoonyGato/data-and-python/blob/main/Copy_of_06_Creating_new_lists_with_for_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists and loops

A `for` loop is a Python construct that allows us to repeat a set of instructions a given number of times.  When using a for loop with a list, it will repeat exactly the same number of times as there are items in the list.

If we want to create a new list, we could do this systematically with a loop that executes a given number of times.

We do this using the range() function to generate a list of numbers to work through:

`for i in range(10):`  will loop through the numbers 0 to 9 (ten distinct numbers starting at 0)  

`for i in range(2,11):` will loop through the numbers 2 to 10 (missing 11 as we need to specify where to stop, so start at 2 and stop **before** 11).

---
### Exercise 1 - number list

Write a function called **list_numbers()** which will:  

*  create a new list containing all the whole numbers from 20 to 30 including both.       

**Expected output**:  
20  
21  
22  
23  
24  
25  
26  
27  
28  
29  
30

In [6]:
def number_list():
  list_numbers = [20, 21, 22, 23, 24, 25, 26, 26, 27, 28, 29, 30]
  for num in list_numbers:
    print(num)

number_list()

20
21
22
23
24
25
26
26
27
28
29
30

---
### Using steps
In general, if we use a range, we give a starting number and a stopping number (the first number that is out of the range in the direction we are counting). The default is to count up in 1s.

When we want a loop to count in bigger steps, we can add a further parameter in the range brackets, which represents the size of the step.

e.g. to print the even numbers up to 10 (starting with the first even number)

```
for i in range(2,11,2):
   print(i)
```

e.g. to print all multiples of 5 from 5 to 50 (starting with the first multiple)

for i in range(5,51,5):
   print(i)  

We can use steps to reverse the direction of counting. So to count backwards from 10 to 1, we can use a step of -1. Again, use the starting number, the number AFTER the last number to be included, in the direction we are counting, and the size and direction of the step.

```
for i in range(10, 0, -1):
   print(i)
```

---
### Exercise 2 - list of evens  

Write a function called **list_evens()** which will:  

*  create a new list containing the even numbers from 2 to 20 (remember you can also count up in 2s)  
*  print the list one item per line

**Expected output**:  
2  
4  
6  
8  
10  
12  
14  
16  
18  
20

In [9]:
def list_of_evens():
  list_evens = [x for x in range(2,21,2)]
  for num in list_evens:
    print(num)

list_of_evens()

2
4
6
8
10
12
14
16
18
20

In [11]:
def list_of_evens():
  list_evens = []
  for x in range(2,21,2):
    list_evens.append(x)

  for evens in list_evens:
    print(evens)

  print(list_evens)

list_of_evens()

2
4
6
8
10
12
14
16
18
20
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

---
### Exercise 3 - list multiples  

Write a function called **list_multiples()** which will:

*  create a new list containing the multiples of 3 from 3 to 36
*  print the list one item per line

Expected output:  
3  
6  
9  
12  
15  
18  
21  
24  
27  
30  
33  
36

In [13]:
def list_of_multiples():
  list_multiples = [ x for x in range(3,37,3)]
  for num in list_multiples:
    print(num)

list_of_multiples()

3
6
9
12
15
18
21
24
27
30
33
36

---
### Exercise 4 - reverse list

Write a function called list_reverse() which will:

*  create a new list containing the numbers 5 to 15 in reverse  
*  print the list, one item per line

Expected output:  
15  
14  
13  
12  
11  
10  
9  
8  
7  
6  
5

In [14]:
def reverse_list():
  list_reverse = [x for x in range(15, 4, -1)]
  for num in list_reverse:
    print(num)

reverse_list()

15
14
13
12
11
10
9
8
7
6
5

---
### Exercise 5 - calculating times table (Challenging)

Write a function called **display_times_table()** which will:  

*  ask the user to input a **number**
*  create a list of the multiples of that number (use a for loop and the `range()` function to calculate the first ten multiples of that number)  
*  print a times table entry as shown below for each item in the list

Test Input:  
4  

Expected output:  
1 x 4 = 4  
2 x 4 = 8  
3 x 4 = 12  
4 x 4 = 16  
5 x 4 = 20  
6 x 4 = 24  
7 x 4 = 28  
8 x 4 = 32  
9 x 4 = 36  
10 x 4 = 40

In [16]:
def calculating_times_table():
  user_num = int(input("Pleas put in a whole number"))
  for i in range(1,11):
    print(f"{i} x {user_num} = {user_num*i}")

calculating_times_table()

Pleas put in a whole number5
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

### Exercise 6 - counting down numbers in reverse

Write a function called **countdown()** which will:

*  ask the user to input a **number**
*  prints numbers in a countdown starting at `number`, decreasing by 1 each time round the loop and finishing at 1
*  after the loop, print ("GO")  (*Hint: only instructions indented to the same level under the 'for' instruction are part of the loop, as soon as you stop indenting to that level, and go back to the level above the 'for' these instructions are no longer in the loop)

Test Input:  
9    

Expected output:   
9  
8  
7  
6  
5  
4  
3  
2  
1  
GO

In [22]:
def countdown():
  user_num = int(input("Pleas input a number: "))
  for i in range(user_num,0,-1):
    print(i)
  print("GO!")

countdown()

Pleas input a number: 9
9
8
7
6
5
4
3
2
1
GO!

---
# List comprehension (generating new lists with lists of numbers)

You can use a special format for creating lists so that rather than typing all items of the list individually, they will be generated using Python code.

**Examples:**

Generate a list of twelve 0s (

`zero_list = [0 for x in range(12)]`

Generate a list of the numbers from 0 to 49

`fifty_list = [x for x in range(50)]`

Generate a list of the first 10 square numbers

`squares_list = [ x**2 for x in range(10)]`

Generate a list of the numbers from 5 to 15

`numbers_list = [x for x in range(5, 16)]`

Think about how these lists are being generated.  The first part describes what x will look like (always 0, the current number or the square of the current number)  the part `for x in range(...)` describes the number of items in the list and can sometimes be used to determine value.

Use the code box below to see what the output of the lists suggested above would look like.

In [26]:
generated_list =[ x**2 for x in range(10)]
print(generated_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

---
### Exercise 10 - generate a list of numbers from 1 to 10

Write a function **generate_number_list()** that will:

*  use list comprehension techniques to create a list of all the whole numbers between 1 and 10
*  use a for loop to print the list one number per line

In [33]:
def generate_number_list():
  num_list = [x for x in range(11)]
  for num in num_list:
    print(num)

generate_number_list()

0
1
2
3
4
5
6
7
8
9
10

---
### Optional challenge - generate a list of the letters between A and Z using the ord() function

Computers recognise letter as number codes (ASCII codes).  In this coding system the letter A is coded 65, the letter Z is coded 90 and all the other capital letters have the numbers in between, in order.

To get the letter, use chr(code)  e.g. chr(65) will give A, chr(68) will give D

Write a function **generate_alphabet()** that will:

*  use list comprehension to create the list of letters from A to Z using the numbers from 65 to 90 and converting the number (x) to its letter using chr(x)
*  print the list to show the alphabet

In [38]:
def A2Z():
  letter = [x for x in range(65,91)]
  for num in letter:
    print(chr(num))

A2Z()

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

---
# Takeaways

*  the range() function will generate a list of integers either from 0 up to a given number e.g. `range(6)` or between two given numbers e.g. `range(10,20)`
* by default, a range will count up in intervals of 1 but you can tell it to count up with any interval, e.g. range(1,10,2) to count up in 2s or range(30, 10, -1) to count backwards  
*  there is a special syntax for creating lists like this in one line, called list comprehension
*  a list of characters can be generated in this way as they are actually stored as numbers.  ord(character) will get the number and chr(number) will convert the number into the character.  Capital letters use the numbers from 65(A) to 90(Z), lower case letters use the numbers from 97(a) to 122(z)

# Your thoughts on what you have learnt  

Please add some comments in the box below to reflect on what you have learnt through completing this worksheet, and any problems you encountered while doing so.

I got confused with the term "list" at the start, when asked to create a list, I assumed that you wanted me to create a list ie: " x = [1, 2, 3, 4] " not just printing a line at a time to create a list, so I have effectivley started from excercise 7 at the start. I think changing the wording of the excercise or maybe defing "create a List" and "code a list" so iron out a distinction of intent would help mitigate any confusion in the future.

Also excersies 7,8,9 arnt present in the work sheet.

Other than thoes points, it was a pretty good work sheet, I enjoyed the challeng my missunderstanding caused.